.clients
	padding: 60px 0 100px
	.container
		max-width: 920px
	.section-title
		margin-bottom: 60px

.clients-slider-item
	img
		display: block
<<<<<<< HEAD
		margin: 0 auto
		cursor: move
		margin: 0 auto
=======
<<<<<<< HEAD
		margin: 0 auto
		cursor: move
=======
		margin: 0 auto
>>>>>>> 0338e1c4981288644a519d81978515a767cea59a
>>>>>>> 029f9c88154453ea043ed8ae4246dccdc4405fcd
