.logo
	font: 18px $boldFont, $font-family
	text-transform: uppercase

.g-btn
	display: inline-block
	max-width: 270px
	width: 100%
	height: 54px
	font: 18px/50px $boldFont, $font-family
	color: $mainColor
	border: 2px solid $borderColor
	text-align: center
	transition: 0.3s
	&:hover
		max-width: 220px
		width: 100%

.section-title
	text-align: center
	position: relative
	display: block
	margin-bottom: 55px
	font: 27px $boldFont, $font-family

.section-text__big
	margin: 0 auto
	width: 100%
	max-width: 970px
	font: 16px/33px $mainFont, $font-family

.section-text__small
	font: 16px/25px $font-family, $mainFont

.grey-bg
	background-color: $grayBgColor