@import url(../libs/slick/slick/slick.css);
@import url(../libs/slick/slick/slick-theme.css);
.slick-slide {
  outline: none;
}

.slick-prev, .slick-next {
  width: 14px;
  height: 22px;
  top: 45%;
}

.slick-next {
  right: -64px;
}

.slick-prev {
  left: -64px;
}

.slick-disabled {
  opacity: 0;
}

.featured-slider .slick-slide {
  min-height: 370px;
}

.clients .slick-next {
  right: -26px;
}

.clients .slick-prev {
  left: -26px;
}
