extends ../layout/layout

block title
	| Главная страница storytller
	| storytller

block content
	main
		include ../sections/top_banner
		include ../sections/who_and_why
		include ../sections/advantages
		include ../sections/featured
		include ../sections/clients
		include ../sections/portfolio
		include ../sections/quote
		include ../sections/team
		include ../sections/facts_and_numbers
