extends ../layout/layout

block title
<<<<<<< HEAD
	| Главная страница storytller
	| storytller
=======
<<<<<<< HEAD
	| Главная страница storytller
=======
	| storytller
>>>>>>> 0338e1c4981288644a519d81978515a767cea59a
>>>>>>> 029f9c88154453ea043ed8ae4246dccdc4405fcd

block content
	main
		include ../sections/top_banner
		include ../sections/who_and_why
		include ../sections/advantages
		include ../sections/featured
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 029f9c88154453ea043ed8ae4246dccdc4405fcd
		include ../sections/clients
		include ../sections/portfolio
		include ../sections/quote
		include ../sections/team
<<<<<<< HEAD
		include ../sections/facts_and_numbers
=======
=======
		include ../sections/clients
>>>>>>> 0338e1c4981288644a519d81978515a767cea59a
>>>>>>> 029f9c88154453ea043ed8ae4246dccdc4405fcd
