extends ../layout/layout

block title
<<<<<<< HEAD
	| Главная страница storytller
=======
	| storytller
>>>>>>> 0338e1c4981288644a519d81978515a767cea59a

block content
	main
		include ../sections/top_banner
		include ../sections/who_and_why
		include ../sections/advantages
		include ../sections/featured
<<<<<<< HEAD
		include ../sections/clients
		include ../sections/portfolio
		include ../sections/quote
		include ../sections/team
=======
		include ../sections/clients
>>>>>>> 0338e1c4981288644a519d81978515a767cea59a
