extends ../layout/layout

block title
	| storytller

block content
	main
		include ../sections/top_banner
		include ../sections/who_and_why
		include ../sections/advantages
		include ../sections/featured