section.advantages.grey-bg
	.container
		.advantages-item
			img(src="img/general/advantages/clock.png").advantages-icon
			h2.advantages-title An Wow Feature
			p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living.
		.advantages-item
			img(src="img/general/advantages/vector.png").advantages-icon
			h2.advantages-title A Beautiful Feature
			p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living.
		.advantages-item
			img(src="img/general/advantages/land_working.png").advantages-icon
			h2.advantages-title An Amazing Feature
			p.section-text__small The gentlemen who rented the room would sometimes take their evening meal at home in the living.
