section.articles
	.container
		.articles-line
			.article-item
				.article-text
					span.article-info Travel / 21st March, 2014
					h1.article-title A New Product Is Coming 
					p.section-text__small The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
			.article-item
				.article-img-wrap
					img(src="img/content/articles/article1.jpg").article-img

		.articles-line
			.article-item
				.article-img-wrap
					img(src="img/content/articles/article2.jpg").article-img
			.article-item
				.article-text
					span.article-info Gadget / 3rd March, 2014
					h1.article-title Jimmy’s New Xbox Controller
					p.section-text__small The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.

		.articles-line
			.article-item
				.article-text
					span.article-info Travel / 21st March, 2014
					h1.article-title A New Product Is Coming 
					p.section-text__small The office assistant was the boss's man, spineless, and with no understanding. What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never.
			.article-item
				.article-img-wrap
					img(src="img/content/articles/article3.jpg").article-img
