section.articles-slider.grey-bg
	.container
		.js-articles-slider
			.articles-slider__item
				span.article-slider__title Another Day In Paradise
				span.article-slider__info Travel / 21st March, 2014 copy
			.articles-slider__item
				span.article-slider__title Jimmy’s New Book on Aliens
				span.article-slider__info Personal / 21st March, 2014
			.articles-slider__item
				span.article-slider__title Sarah’s New House
				span.article-slider__info Personal / 21st March, 2014
			.articles-slider__item
				span.article-slider__title Another Day In Paradise
				span.article-slider__info Travel / 21st March, 2014 copy
			.articles-slider__item
				span.article-slider__title Jimmy’s New Book on Aliens
				span.article-slider__info Personal / 21st March, 2014
			.articles-slider__item
				span.article-slider__title Sarah’s New House
				span.article-slider__info Personal / 21st March, 2014
			.articles-slider__item
				span.article-slider__title Another Day In Paradise
				span.article-slider__info Travel / 21st March, 2014 copy
			.articles-slider__item
				span.article-slider__title Jimmy’s New Book on Aliens
				span.article-slider__info Personal / 21st March, 2014
			.articles-slider__item
				span.article-slider__title Sarah’s New House
				span.article-slider__info Personal / 21st March, 2014