section.clients.grey-bg
	.container
		h2.section-title Clients
		.clients-slider
			.clients-slider-item
				img(src="img/content/clients/clients1.png")
			.clients-slider-item
				img(src="img/content/clients/clients2.png")
			.clients-slider-item
				img(src="img/content/clients/clients3.png")
			.clients-slider-item
				img(src="img/content/clients/clients4.png")
			.clients-slider-item
				img(src="img/content/clients/clients5.png")
			.clients-slider-item
				img(src="img/content/clients/clients6.png")
			.clients-slider-item
				img(src="img/content/clients/clients1.png")
			.clients-slider-item
				img(src="img/content/clients/clients2.png")
			.clients-slider-item
				img(src="img/content/clients/clients3.png")
			.clients-slider-item
				img(src="img/content/clients/clients4.png")
			.clients-slider-item
				img(src="img/content/clients/clients5.png")
			.clients-slider-item
				img(src="img/content/clients/clients6.png")
			.clients-slider-item
				img(src="img/content/clients/clients2.png")
			.clients-slider-item
				img(src="img/content/clients/clients3.png")
			.clients-slider-item
				img(src="img/content/clients/clients4.png")
			.clients-slider-item
				img(src="img/content/clients/clients5.png")
			.clients-slider-item
				img(src="img/content/clients/clients6.png")
			.clients-slider-item
				img(src="img/content/clients/clients1.png")
			.clients-slider-item
				img(src="img/content/clients/clients2.png")
			.clients-slider-item
				img(src="img/content/clients/clients3.png")
			.clients-slider-item
				img(src="img/content/clients/clients4.png")
			.clients-slider-item
				img(src="img/content/clients/clients5.png")
			.clients-slider-item
				img(src="img/content/clients/clients6.png")

