section.facts
	.container
		h3.section-title Facts & Numbers
		.facts-item_wrap
			.facts-item
				span.facts-number 110
				span.facts-title successful projects
			.facts-item
				span.facts-number 25
				span.facts-title awesome clients
			.facts-item
				span.facts-number 30
				span.facts-title open source plugins
			.facts-item
				span.facts-number 13
				span.facts-title open source themes
