section.featured
	.container
		h3.section-title Featured Articles
		p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
		.featured-slider
			.featured-item
				h3.featured-item__filter comic
				p.featured-item__text A million ways to die in the wild wild wild west
				.featured-item__bottom
					img(src="../img/general/user1.png").featured-item__photo
					span.featured-item__name jimmy jefferson
					span.featured-item__date 21/08/2013
			.featured-item
				h3.featured-item__filter lifestyle
				p.featured-item__text The most comfortable chair comes with no backpain
				.featured-item__bottom
					img(src="../img/general/user2.png").featured-item__photo
					span.featured-item__name Gail Gutierrez
					span.featured-item__date 21/08/2013
			.featured-item
				h3.featured-item__filter travel
				p.featured-item__text journey to the center of the earth with jefferson 
				.featured-item__bottom
					img(src="../img/general/user3.png").featured-item__photo
					span.featured-item__name mason johnston
					span.featured-item__date 21/08/2013
			.featured-item
				h3.featured-item__filter lifestyle
				p.featured-item__text The most comfortable chair comes with no backpain
				.featured-item__bottom
					img(src="../img/general/user1.png").featured-item__photo
					span.featured-item__name Gail Gutierrez
					span.featured-item__date 21/08/2013
			.featured-item
				h3.featured-item__filter travel
				p.featured-item__text journey to the center of the earth with jefferson
				.featured-item__bottom
					img(src="../img/general/user2.png").featured-item__photo
					span.featured-item__name mason johnston
					span.featured-item__date 21/08/2013