section.portfolio
	span.section-title Portfolio & Screenshots
	p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
	ul.portfolio-filter
		li(data-filter="art").portfolio-filter__item Art
		li(data-filter="mystery").portfolio-filter__item Mystery
		li(data-filter="illusion").portfolio-filter__item Illusion
		li(data-filter="travel").portfolio-filter__item Travel
		li(data-filter="paintings").portfolio-filter__item Paintings
		li(data-filter="all").portfolio-filter__item.portfolio-filter__item--all All
	.js-portfolio-slider
	.portfolio-slider
		div(data-filter="art")
			img(src="img/content/portfolio/portfolio1.jpg")
		div(data-filter="travel")
			img(src="img/content/portfolio/portfolio2.jpg")
		div(data-filter="mystery")
			img(src="img/content/portfolio/portfolio3.jpg")
		div(data-filter="paintings")
			img(src="img/content/portfolio/portfolio4.jpg")
		div(data-filter="illusion")
			img(src="img/content/portfolio/portfolio1.jpg")
		div(data-filter="mystery")
			img(src="img/content/portfolio/portfolio2.jpg")
		div(data-filter="art")
			img(src="img/content/portfolio/portfolio3.jpg")
		div(data-filter="paintings")
			img(src="img/content/portfolio/portfolio4.jpg")
		div(data-filter="art")
			img(src="img/content/portfolio/portfolio1.jpg")
		div(data-filter="travel")
			img(src="img/content/portfolio/portfolio2.jpg")
		div(data-filter="mystery")
			img(src="img/content/portfolio/portfolio3.jpg")
		div(data-filter="paintings")
			img(src="img/content/portfolio/portfolio4.jpg")
		div(data-filter="illusion")
			img(src="img/content/portfolio/portfolio1.jpg")
		div(data-filter="mystery")
			img(src="img/content/portfolio/portfolio2.jpg")
		div(data-filter="art")
			img(src="img/content/portfolio/portfolio3.jpg")
		div(data-filter="paintings")
			img(src="img/content/portfolio/portfolio4.jpg")
		div(data-filter="art")
			img(src="img/content/portfolio/portfolio1.jpg")
		div(data-filter="travel")
			img(src="img/content/portfolio/portfolio2.jpg")
		div(data-filter="mystery")
			img(src="img/content/portfolio/portfolio3.jpg")
		div(data-filter="paintings")
			img(src="img/content/portfolio/portfolio4.jpg")
		div(data-filter="illusion")
			img(src="img/content/portfolio/portfolio1.jpg")
		div(data-filter="mystery")
			img(src="img/content/portfolio/portfolio2.jpg")
		div(data-filter="art")
			img(src="img/content/portfolio/portfolio3.jpg")
		div(data-filter="paintings")
			img(src="img/content/portfolio/portfolio4.jpg")