section.team
	.container
		span.section-title Team Members
		p.section-text__big The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the  
		.team-item.team-item--lead
			span.team-name James Philly
			span.team-work Lead Developer
		.team-item.team-item--model
			span.team-name Cactus Jack
			span.team-work 3D Model Designer
		.team-item.team-item--master
			span.team-name Jack Sparrow
			span.team-work Master of All Trade
		.team-item.team-item--manages
			span.team-name Yaga Squarehead
			span.team-work Manages Money
