section.twitter
	.container
		.twitter-pic
			img(src="img/general/twitter-user.png")
		p.twitter-text Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
		a(href="javascript:void(0)").twitter-author @loveless