footer.footer
	.container
		.footer-top
			.footer-top__left
				.logo.footer-logo
					a(href="javascript:void(0)")
						span Unicorn
				p.footer-text One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
				form.footer-form
					.footer-form__line
						input(type="text" name="email" placeholder="EMAIL").footer-form__input
						input(type="text" name="jubject" placeholder="SUBJECT").footer-form__input
					.footer-form__line
						textarea(name="message" placeholder="MESSAGE").footer-form__text
					.footer-form__btn
						input(type="submit" value="send" )
			.footer-top__right
				.footer-form__menu
					h3.footer-nav__title Links
					ul.footer-nav__list
						li
							a(href="javascript:void(0);") Home
						li
							a(href="javascript:void(0);") About
						li
							a(href="javascript:void(0);") Services
						li
							a(href="javascript:void(0);") Menu
						li
							a(href="javascript:void(0);") Restaurants
						li
							a(href="javascript:void(0);") Work Hours
						li
							a(href="javascript:void(0);") Call Hours
				.footer-form__menu
					h3.footer-nav__title Friends
					ul.footer-nav__list
						li
							a(href="javascript:void(0);") Home
						li
							a(href="javascript:void(0);") About
						li
							a(href="javascript:void(0);") Services
						li
							a(href="javascript:void(0);") Menu
						li
							a(href="javascript:void(0);") Restaurants
				.footer-form__menu
					h3.footer-nav__title Social
					ul.footer-nav__list
						li
							a(href="javascript:void(0);") Facebook
						li
							a(href="javascript:void(0);") Twitter
						li
							a(href="javascript:void(0);") Github
						li
							a(href="javascript:void(0);") Pinterest
						li
							a(href="javascript:void(0);") Google Plus
						li
							a(href="javascript:void(0);") Dribble
						li
							a(href="javascript:void(0);") Flickr
						li
							a(href="javascript:void(0);") Others
		.footer-bottom
			.footer-desc
				span One morning, when Gregor Samsa woke from troubled dreams, he fo
				span &#169; 2015 Your Awesome Company 
			nav.footer-info-menu
				ul.footer-info-menu__list
					li
						a(href="javascript:void(0);") TERMS
					li
						a(href="javascript:void(0);") Privacy Policy
					li
						a(href="javascript:void(0);") Contact
					li
						a(href="javascript:void(0);") Job



