header.header
	.logo.header-logo
		a(href="javascript:void(0)")
			span unicorn
	nav.header-nav
		ul.header-nav__list
			li
				a(href="javascript:void(0)") Home
			li
				a(href="javascript:void(0)") About
			li
				a(href="javascript:void(0)") Stories
			li
				a(href="javascript:void(0)") Hello
		.header-nav__toogle
			span.nav-toogle__line.nav-toogle__line--top
			span.nav-toogle__line.nav-toogle__line--middle
			span.nav-toogle__line.nav-toogle__line--bottom
