@import 'fonts.sass'
// Подключаем спрайты
@import 'sprite.sass'
// Подключаем миксины
@import 'mixins.sass'
// Свои стили для тегов, прижатие футера, прелоадер
@import 'adjustment.sass'
// Стили шапки
@import 'modules/header.sass'
// Стили секции главный баннер
@import 'sections/top_banner.sass'
// Стили секции who and why
@import 'sections/who_and_why.sass'
// Стили секции davantages
@import 'sections/advantages.sass'
// Стили секции featured
@import 'sections/featured.sass'
// Стили секции clients
@import 'sections/clients.sass'
// Стили секции portfolio
@import 'sections/portfolio.sass'
// Стили секции quote
@import 'sections/quote.sass'
// Стили секции team
@import 'sections/team.sass'
// Стили секции portfolio
@import 'sections/facts_and_numbers.sass'
// Стили секции articles
@import 'sections/articles.sass'
// Стили секции articles-slider
@import 'sections/articles_slider.sass'
// Стили секции twitter
@import 'sections/twitter.sass'
// Стили общих элементов
@import 'sections/common.sass'
// Подключаем переменные
@import 'vars.sass'

body
  font-size: 16px
  line-height: 1.75

  position: relative

  overflow-x: hidden
  font-family: $mainFont
  min-width: 320px
  text-size-adjust: none
  -webkit-font-smoothing: antialiased

.container
  position: relative
  width: 98%
  max-width: 1170px
  margin: 0 auto

// Стили главной страницы
@import 'pages/index.sass'
// Стили футера
@import 'modules/footer.sass'
// Стили медиазапросов
@import 'media.sass'
